

.landing {
  background-image: url(/src/imgs/TestImage.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  grid-column: span 12;
  aspect-ratio: 12 / 6;
}

.landing-text {
  background-color: white;
  color: black;
  text-align: left;
  padding: 24px;
  margin: 0px;
  align-items: right;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 16px;
  padding: 0 24px;
  width: 100%;
  box-sizing: border-box;
}

.col-12 {
  grid-column: span 12;
}

.col-6 {
  grid-column: span 6;
}

.col-5 {
  grid-column: span 5;
}

h1 {
  margin-bottom: 0;
  text-align: left;
}
