.landing-kollab {
  background-image: url(/src/imgs/kollab/kollab-landing-test1.jpg);
  background-size: cover;
  background-position: center 37%;
  background-repeat: no-repeat;
  grid-column: span 12;
  aspect-ratio: 12 / 5.75;

  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
