.landing-kollab {
  background-image: url(/src/imgs/kollab/kollab-landing-test1.jpg);
  background-size: cover;
  background-position: center 37%;
  background-repeat: no-repeat;
  grid-column: span 12;
  aspect-ratio: 12 / 5.75;

  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.kollab-color-div {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 16px;
  padding: 0 24px;
  width: 100%;
  box-sizing: border-box;
  background-image: url(/src/imgs/kollab/Kollab-Gradient.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
