.sidenav {
  height: 100vh;
  width: 208px;
  padding-left: 32px;
  padding-top: 32px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 1000;
}

.nav-item {
  font-family: figtree;
  font-size: 16px;
  color: black;
}

.nav-item:hover {
  color: blue;
  cursor: pointer;
}

.category-link {
  text-decoration: none;
  color: rgb(20, 20, 20);
  font-family: "Source Sans 3", sans-serif;
  font-weight: 500;
}

.category-link:hover {
  color: rgb(33, 88, 244);
}

.category-link:active {
  color: rgb(33, 88, 244);
}

.active-link {
  text-decoration: none;
  font-family: "Source Sans 3", sans-serif;
  color: rgb(33, 88, 244);
  font-weight: 700;
}

.category-link-h4 {
  text-decoration: none;
  color: rgb(20, 20, 20);
  font-family: "Source Sans 3", sans-serif;
  font-weight: 700;
}

.category-link-h4:hover {
  color: rgb(33, 88, 244);
}

.category-link-h4:active {
  color: rgb(33, 88, 244);
}

.active-link-h4 {
  text-decoration: none;
  font-family: "Source Sans 3", sans-serif;
  color: rgb(33, 88, 244);
  font-weight: 1000;
}

.hamburger {
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
}

.nav-links {
  display: block;
}

.nav-links.open {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  padding-top: 72px;
  padding-left: 24px;
}

.nav-header {
  display: flex;
  z-index: 1100;
  position: relative;
}

/*/ Mobile /*/

@media (max-width: 743px) {

  .nav-item {
    font-size: 24px;
    margin-left: 0px;
    margin-top: 8px;
    margin-bottom: 0px;
  }

.sidenav {
  height: 72px;
  width: 100vw;
  padding-left: 24px;
  padding-top: 0px;
  background-color: white;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-right: 40px;
  margin-top: 14px;
}

  .hamburger {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
  }

  .nav-links.open {
    display: flex;
  }

}
